In [ ]:
import pandas as pd

In [ ]:
gdp = pd.read_csv('/content/gdp.csv')
gdp_growth = pd.read_csv('/content/gdp_growth.csv')
gdp_per_capita = pd.read_csv('/content/gdp_per_capita.csv')
gdp_per_capita_growth = pd.read_csv('/content/gdp_per_capita_growth.csv')
gdp_ppp = pd.read_csv('/content/gdp_ppp.csv')
gdp_ppp_per_capita = pd.read_csv('/content/gdp_ppp_per_capita.csv')

In [ ]:
continents = pd.read_csv('/content/Countries_Continents.csv')

In [ ]:
country_classifiers = pd.read_csv('/content/drive/MyDrive/Countries Classifiers - Sheet1.csv')

In [ ]:
full_gdp = pd.read_csv('/content/Full_GDP.csv')

# **GDP & GDP Growth**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Drop the 'Code' column
gdp.drop(columns=['Code'], inplace=True, errors='ignore')

# Melt the DataFrame to reshape it into the desired schema
melted_gdp = pd.melt(gdp, id_vars=['Country Name'], var_name='Years', value_name='GDP')
# melted_gdp = melted_gdp.dropna()  # Remove rows with NaN values

# Sort the DataFrame based on 'Country Name' and 'Years' columns
melted_gdp = melted_gdp.sort_values(by=['Country Name', 'Years'])

# Display the resulting DataFrame
print(melted_gdp)

      Country Name        Years           GDP
2      Afghanistan         1960  5.377778e+08
268    Afghanistan         1961  5.488889e+08
534    Afghanistan         1962  5.466667e+08
800    Afghanistan         1963  7.511112e+08
1066   Afghanistan         1964  8.000000e+08
...            ...          ...           ...
15427     Zimbabwe         2017  1.758489e+10
15693     Zimbabwe         2018  1.811554e+10
15959     Zimbabwe         2019  1.928429e+10
16225     Zimbabwe         2020  1.805117e+10
16491     Zimbabwe  Unnamed: 65           NaN

[16492 rows x 3 columns]

In [ ]:
melted_gdp.to_csv('GDP.csv',index=True)

In [ ]:
# Drop the 'Code' column
gdp_growth.drop(columns=['Code'], inplace=True, errors='ignore')

# Melt the DataFrame to reshape it into the desired schema
melted_gdp_growth = pd.melt(gdp_growth, id_vars=['Country Name'], var_name='Years', value_name='GDP_Growth')
# melted_gdp = melted_gdp.dropna()  # Remove rows with NaN values

# Sort the DataFrame based on 'Country Name' and 'Years' columns
melted_gdp_growth = melted_gdp_growth.sort_values(by=['Country Name', 'Years'])

# Display the resulting DataFrame
print(melted_gdp_growth)

      Country Name        Years  GDP_Growth
2      Afghanistan         1960         NaN
268    Afghanistan         1961         NaN
534    Afghanistan         1962         NaN
800    Afghanistan         1963         NaN
1066   Afghanistan         1964         NaN
...            ...          ...         ...
15427     Zimbabwe         2017    4.709492
15693     Zimbabwe         2018    4.824211
15959     Zimbabwe         2019   -6.144236
16225     Zimbabwe         2020   -6.248748
16491     Zimbabwe  Unnamed: 65         NaN

[16492 rows x 3 columns]

In [ ]:
melted_gdp_growth.to_csv('GDP_GROWTH.csv',index=True)

## **GDP Per Capita & GDP Per Capita Growth**

In [ ]:
# Drop the 'Code' column
gdp_per_capita.drop(columns=['Code'], inplace=True, errors='ignore')

# Melt the DataFrame to reshape it into the desired schema
melted_gdp_per_capita = pd.melt(gdp_per_capita, id_vars=['Country Name'], var_name='Years', value_name='GDP_Per_Capita')
# melted_gdp = melted_gdp.dropna()  # Remove rows with NaN values

# Sort the DataFrame based on 'Country Name' and 'Years' columns
melted_gdp_per_capita = melted_gdp_per_capita.sort_values(by=['Country Name', 'Years'])

# Display the resulting DataFrame
print(melted_gdp_per_capita)

      Country Name        Years  GDP_Per_Capita
2      Afghanistan         1960       59.773234
268    Afghanistan         1961       59.860900
534    Afghanistan         1962       58.458009
800    Afghanistan         1963       78.706429
1066   Afghanistan         1964       82.095307
...            ...          ...             ...
15427     Zimbabwe         2017     1235.189032
15693     Zimbabwe         2018     1254.642265
15959     Zimbabwe         2019     1316.740657
16225     Zimbabwe         2020     1214.509820
16491     Zimbabwe  Unnamed: 65             NaN

[16492 rows x 3 columns]

In [ ]:
melted_gdp_per_capita.to_csv('GDP PER CAPITA.csv',index=True)

In [ ]:
# Drop the 'Code' column
gdp_per_capita_growth.drop(columns=['Code'], inplace=True, errors='ignore')

# Melt the DataFrame to reshape it into the desired schema
melted_gdp_per_capita_growth = pd.melt(gdp_per_capita_growth, id_vars=['Country Name'], var_name='Years', value_name='GDP_Per_Capita_Growth')
# melted_gdp = melted_gdp.dropna()  # Remove rows with NaN values

# Sort the DataFrame based on 'Country Name' and 'Years' columns
melted_gdp_per_capita_growth = melted_gdp_per_capita_growth.sort_values(by=['Country Name', 'Years'])

# Display the resulting DataFrame
print(melted_gdp_per_capita_growth)

      Country Name        Years  GDP_Per_Capita_Growth
2      Afghanistan         1960                    NaN
268    Afghanistan         1961                    NaN
534    Afghanistan         1962                    NaN
800    Afghanistan         1963                    NaN
1066   Afghanistan         1964                    NaN
...            ...          ...                    ...
15427     Zimbabwe         2017               3.192453
15693     Zimbabwe         2018               3.356166
15959     Zimbabwe         2019              -7.468627
16225     Zimbabwe         2020              -7.620388
16491     Zimbabwe  Unnamed: 65                    NaN

[16492 rows x 3 columns]

In [ ]:
melted_gdp_per_capita_growth.to_csv('GDP PER CAPITA GROWTH.csv',index=True)

## **GDP PPP & Per Capita**

In [ ]:
# Drop the 'Code' column
gdp_ppp.drop(columns=['Code'], inplace=True, errors='ignore')

# Melt the DataFrame to reshape it into the desired schema
melted_gdp_PPP = pd.melt(gdp_ppp, id_vars=['Country Name'], var_name='Years', value_name='GDP_PPP')
# melted_gdp = melted_gdp.dropna()  # Remove rows with NaN values

# Sort the DataFrame based on 'Country Name' and 'Years' columns
melted_gdp_PPP = melted_gdp_PPP.sort_values(by=['Country Name', 'Years'])

# Display the resulting DataFrame
print(melted_gdp_PPP)

      Country Name        Years       GDP_PPP
2      Afghanistan         1960           NaN
268    Afghanistan         1961           NaN
534    Afghanistan         1962           NaN
800    Afghanistan         1963           NaN
1066   Afghanistan         1964           NaN
...            ...          ...           ...
15427     Zimbabwe         2017  5.403704e+10
15693     Zimbabwe         2018  5.800391e+10
15959     Zimbabwe         2019  5.541185e+10
16225     Zimbabwe         2020  5.257540e+10
16491     Zimbabwe  Unnamed: 65           NaN

[16492 rows x 3 columns]

In [ ]:
melted_gdp_PPP.to_csv('GDP PP.csv',index=True)

In [ ]:
# Drop the 'Code' column
gdp_ppp_per_capita.drop(columns=['Code'], inplace=True, errors='ignore')

# Melt the DataFrame to reshape it into the desired schema
melted_gdp_PPP_per_capita = pd.melt(gdp_ppp_per_capita, id_vars=['Country Name'], var_name='Years', value_name='GDP_PPP_percapita')
# melted_gdp = melted_gdp.dropna()  # Remove rows with NaN values

# Sort the DataFrame based on 'Country Name' and 'Years' columns
melted_gdp_PPP_per_capita = melted_gdp_PPP_per_capita.sort_values(by=['Country Name', 'Years'])

# Display the resulting DataFrame
print(melted_gdp_PPP_per_capita)

      Country Name        Years  GDP_PPP_percapita
2      Afghanistan         1960                NaN
268    Afghanistan         1961                NaN
534    Afghanistan         1962                NaN
800    Afghanistan         1963                NaN
1066   Afghanistan         1964                NaN
...            ...          ...                ...
15427     Zimbabwe         2017        3795.642431
15693     Zimbabwe         2018        4017.221716
15959     Zimbabwe         2019        3783.547898
16225     Zimbabwe         2020        3537.351394
16491     Zimbabwe  Unnamed: 65                NaN

[16492 rows x 3 columns]

In [ ]:
melted_gdp_PPP_per_capita.to_csv('GDP PP PER CAPITA.csv',index=True)

## **Final Data**

In [ ]:
# Assuming df1, df2, df3, df4, df5, df6 are your DataFrames

# List of your DataFrames
dataframes = [melted_gdp, melted_gdp_growth, melted_gdp_per_capita, melted_gdp_per_capita_growth, melted_gdp_PPP, melted_gdp_PPP_per_capita]

# Ensure all DataFrames have the 'Country Name' and 'Years' columns
for df in dataframes:
    if 'Years' not in df.columns or 'Country Name' not in df.columns:
        raise ValueError("Missing 'Years' or 'Country Name' column in one or more DataFrames")

# Merge dataframes on common elements 'Country Name' and 'Years'
merged = dataframes[0]
for df in dataframes[1:]:
    merged = pd.merge(merged, df, on=['Country Name', 'Years'], how='outer')

# Remove duplicate columns, keeping the last occurrence
merged = merged.loc[:, ~merged.columns.duplicated()]

# Display the final merged DataFrame
print(merged)

      Country Name        Years           GDP  GDP_Growth  GDP_Per_Capita  \
0      Afghanistan         1960  5.377778e+08         NaN       59.773234
1      Afghanistan         1961  5.488889e+08         NaN       59.860900
2      Afghanistan         1962  5.466667e+08         NaN       58.458009
3      Afghanistan         1963  7.511112e+08         NaN       78.706429
4      Afghanistan         1964  8.000000e+08         NaN       82.095307
...            ...          ...           ...         ...             ...
16487     Zimbabwe         2017  1.758489e+10    4.709492     1235.189032
16488     Zimbabwe         2018  1.811554e+10    4.824211     1254.642265
16489     Zimbabwe         2019  1.928429e+10   -6.144236     1316.740657
16490     Zimbabwe         2020  1.805117e+10   -6.248748     1214.509820
16491     Zimbabwe  Unnamed: 65           NaN         NaN             NaN

       GDP_Per_Capita_Growth       GDP_PPP  GDP_PPP_percapita
0                        NaN           NaN                NaN
1                        NaN           NaN                NaN
2                        NaN           NaN                NaN
3                        NaN           NaN                NaN
4                        NaN           NaN                NaN
...                      ...           ...                ...
16487               3.192453  5.403704e+10        3795.642431
16488               3.356166  5.800391e+10        4017.221716
16489              -7.468627  5.541185e+10        3783.547898
16490              -7.620388  5.257540e+10        3537.351394
16491                    NaN           NaN                NaN

[16492 rows x 8 columns]

In [ ]:
merged.to_csv('Full_GDP.csv',index=True)

In [ ]:
merged_df = pd.merge(merged,continents, left_on = 'Country Name', right_on = 'Countries', how='left')

In [ ]:
merged_df.head(10)

,Country Name,Years,GDP,GDP_Growth,GDP_Per_Capita,GDP_Per_Capita_Growth,GDP_PPP,GDP_PPP_percapita,Countries,Continents
0,Afghanistan,1960,5.377778e+08,NaN,59.773234,NaN,NaN,NaN,Afghanistan,Asia
1,Afghanistan,1961,5.488889e+08,NaN,59.860900,NaN,NaN,NaN,Afghanistan,Asia
2,Afghanistan,1962,5.466667e+08,NaN,58.458009,NaN,NaN,NaN,Afghanistan,Asia
3,Afghanistan,1963,7.511112e+08,NaN,78.706429,NaN,NaN,NaN,Afghanistan,Asia
4,Afghanistan,1964,8.000000e+08,NaN,82.095307,NaN,NaN,NaN,Afghanistan,Asia
5,Afghanistan,1965,1.006667e+09,NaN,101.108325,NaN,NaN,NaN,Afghanistan,Asia
6,Afghanistan,1966,1.400000e+09,NaN,137.594298,NaN,NaN,NaN,Afghanistan,Asia
7,Afghanistan,1967,1.673333e+09,NaN,160.898434,NaN,NaN,NaN,Afghanistan,Asia
8,Afghanistan,1968,1.373333e+09,NaN,129.108311,NaN,NaN,NaN,Afghanistan,Asia
9,Afghanistan,1969,1.408889e+09,NaN,129.329760,NaN,NaN,NaN,Afghanistan,Asia

In [ ]:
merged_df.to_csv('Full_GDP.csv',index=True)

In [ ]:
merged_dff = pd.merge(full_gdp,country_classifiers, left_on = 'Country Name', right_on = 'Country', how='inner')

In [ ]:
merged_dff.head(10)

,Continents,Country Name,Years,GDP,GDP_Growth,GDP_Per_Capita,GDP_Per_Capita_Growth,GDP_PPP,GDP_PPP_percapita,Country,Income Classification,First World Tag,Investment Risk,Political Nature,Happiness Index,CO2 Emission Status
0,Asia,Afghanistan,1960,5.377778e+08,NaN,59.773234,NaN,NaN,NaN,Afghanistan,Low Income,Third World,High Risk,Authoritarian,Not Happy,High
1,Asia,Afghanistan,1961,5.488889e+08,NaN,59.860900,NaN,NaN,NaN,Afghanistan,Low Income,Third World,High Risk,Authoritarian,Not Happy,High
2,Asia,Afghanistan,1962,5.466667e+08,NaN,58.458009,NaN,NaN,NaN,Afghanistan,Low Income,Third World,High Risk,Authoritarian,Not Happy,High
3,Asia,Afghanistan,1963,7.511112e+08,NaN,78.706429,NaN,NaN,NaN,Afghanistan,Low Income,Third World,High Risk,Authoritarian,Not Happy,High
4,Asia,Afghanistan,1964,8.000000e+08,NaN,82.095307,NaN,NaN,NaN,Afghanistan,Low Income,Third World,High Risk,Authoritarian,Not Happy,High
5,Asia,Afghanistan,1965,1.006667e+09,NaN,101.108325,NaN,NaN,NaN,Afghanistan,Low Income,Third World,High Risk,Authoritarian,Not Happy,High
6,Asia,Afghanistan,1966,1.400000e+09,NaN,137.594298,NaN,NaN,NaN,Afghanistan,Low Income,Third World,High Risk,Authoritarian,Not Happy,High
7,Asia,Afghanistan,1967,1.673333e+09,NaN,160.898434,NaN,NaN,NaN,Afghanistan,Low Income,Third World,High Risk,Authoritarian,Not Happy,High
8,Asia,Afghanistan,1968,1.373333e+09,NaN,129.108311,NaN,NaN,NaN,Afghanistan,Low Income,Third World,High Risk,Authoritarian,Not Happy,High
9,Asia,Afghanistan,1969,1.408889e+09,NaN,129.329760,NaN,NaN,NaN,Afghanistan,Low Income,Third World,High Risk,Authoritarian,Not Happy,High

In [ ]:
merged_dff['Country Name'].nunique()

221

In [ ]:
merged_dff.to_csv('Full_GDP_final.csv',index=True)